canvas {
  margin-left: 2%;
  margin-top: 2%;
  background-color: #6292e0;
}

body {
  background-color: #a8c9ff;
}

button {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  background-color: green;
  border-radius: 7px;
  margin-bottom: 5px;
}

img {
  width: 100px;
  height: 100px;
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; 
}

#cont {
  display: inline-block;
  color: gold;
}

#total {
  text-align: right;
  color: gold;
  font-size: 20px;
}

#menu {
  width: 90%;
  height: 63%;
  margin: 5% 5%;
  top: 0;
  text-align: center;
  background-color: grey;
  position: absolute;
  z-index: 666;
  border-radius: 15px;
  padding: 20px;
  display: none;
  opacity: 0.8;
}

#dead {
  width: 90%;
  height: 63%;
  margin: 5% 5%;
  top: 0;
  background-color: red;
  position: absolute;
  z-index: 666;
  text-align: center;
  display: none;
  font-size: 25px;
  border-radius: 15px;
  opacity: 0.80;
}

#win {
  width: 90%;
  height: 63%;
  margin: 5% 5%;
  top: 0;
  background-color: green;
  position: absolute;
  z-index: 666;
  text-align: center;
  display: none;
  font-size: 40px;
  border-radius: 15px;
  opacity: 0.80;
}

.sel {
  border: 3px solid gold;
}

.insel {
  border: none;
}

* {
  margin: 0;
}