canvas {
  margin-left: 2%;
  margin-top: 2%;
  background-color: #6292e0;
}

body {
  background-color: #a8c9ff;
}

#restart {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  background-color: green;
  border-radius: 7px;
}

#dead {
  width: 90%;
  height: 63%;
  margin: 5% 5%;
  top: 0;
  background-color: red;
  position: absolute;
  z-index: 666;
  text-align: center;
  display: none;
  font-size: 25px;
  border-radius: 15px;
  opacity: 0.80;
}

#win {
  width: 90%;
  height: 63%;
  margin: 5% 5%;
  top: 0;
  background-color: green;
  position: absolute;
  z-index: 666;
  text-align: center;
  display: none;
  font-size: 40px;
  border-radius: 15px;
  opacity: 0.80;
}

* {
  margin: 0;
}