.header {
	text-align: center;
	font-size: 60px;
	padding: 20px 0 0 0;
	font-family: sans-serif;
	color: #e88d1e;
}

.subheader {
	text-align: center;
	font-size: 30px;
	padding: 10px;
	font-family: sans-serif;
	color: #ff8c00;
}

li {
	text-align: center;
	font-size: 15px;
	padding: 5px 0px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

p {
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
	color: #ff8c00;
	}
body {
	background-image: url(https://raw.githubusercontent.com/meprograms/meprograms.github.io/master/res/bg.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	}

.on {
	color: #ff8c00;
}

.off {
	color: #844800;
}

#about {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	color: #ff8c00;
	border: 2px solid #ff8c00;
}

#about:hover {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	color: #844800;
	border: 2px solid #844800;
}

#cont {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	color: #ff8c00;
	border: 2px solid #ff8c00;
}

#cont:hover {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	color: #844800;
	border: 2px solid #844800;
}

#git {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	text-decoration: none;
	color: #ff8c00;
	border: 2px solid #ff8c00;
}

#git:hover {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px;
	padding: 0px 3px;
	display: inline-block;
	color: #844800;
	border: 2px solid #844800;
}

#home {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px 5px 5px 10px;
	padding: 0px 3px;
	display: inline-block;
	text-decoration: none;
	color: #ff8c00;
	border: 2px solid #ff8c00;
}

#home:hover {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	margin: 5px 5px 5px 10px;
	padding: 0px 3px;
	display: inline-block;
	color: #844800;
	border: 2px solid #844800;
}

.info {

}

* {
	padding: 0;
	margin: 0;
}