* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  background-color: green;
  text-align: left;
  padding: 20px;
}

.maintext {
  font-size: 40px;
}

.subtext {
  margin-left: 20px;
}

nav {
  padding: 50px;
  text-align: center;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: green;
  border-radius: 5px;
}
nav > ul > li {
  padding: 10px;
  float: left;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  background: green;
  -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
nav > ul > li:hover {
  background: #d5d5d5;
  color: green;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
  background: #666;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}
ul.drop-menu li:hover {
  background: #606060;
}
ul.drop-menu li:last-child {
  border-radius: 0px 0px 5px 5px;
}

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
  -webkit-animation: spinin 0.3s ease-in-out 0s;
          animation: spinin 0.3s ease-in-out 0s;
}

@-webkit-keyframes spinin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.2);
            transform: translateY(-20px) scale(0.2);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes spinin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(0.2);
            transform: translateY(-20px) scale(0.2);
  }
  40% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

li a {
  margin: 0px;
  width: 100%; 
  height: 100%; 
  display: block;
}